<div class="button-holder">
    <a href="/Admin/TeachersList" class="btn btn-info text-uppercase">Teachers</a>
</div>
<hr>
<div class="button-holder">
    <a href="/Admin/LevelList" class="btn btn-info text-uppercase">Levels</a>
</div>
<hr>
<div class="button-holder">
    <a href="/Groups/Create" class="btn btn-info text-uppercase">Create Group</a>
</div>
<hr>
<div class="button-holder">
    <a href="/Teachers/Create" class="btn btn-info text-uppercase">Add Teacher</a>
</div>
<hr>