@using KidsManagement.ViewModels.Students;
@using KidsManagement.Data.Models.Enums;

@model CreateEditStudentInputModel;
@{
    ViewData["Title"] = "Create";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Create Student</h1>
        <div style="padding: 5%;">

            <form enctype="multipart/form-data" method="post" asp-action="Create">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name...">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="MiddleName"></label>
                    <input asp-for="MiddleName" type="text" class="form-control" id="MiddleName" name="MiddleName" placeholder="Middle Name...">
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="Gender">Gender</label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BirthDate"></label>
                    <input asp-for="BirthDate" type="date" class="form-control" id="BirthDate" name="BirthDate" value="DateTime.Today">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Grade"></label>
                    <select asp-for="Grade" asp-items="Html.GetEnumSelectList<GradeLevel>()" class="form-control"></select>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ProfileImage" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        @*this indian guy carried me https://www.c-sharpcorner.com/article/upload-and-display-image-in-asp-net-core-3-1/*@
                    </div>
                </div>
                <hr />
                <input type="submit" class="form-control button btn-info col-md-6" value="Create" />
            </form>
        </div>
    </div>
</section>